In [12]:
import pandas as pd

# Training files
train = pd.read_csv('Train-1542865627584.csv')
train_beneficiary = pd.read_csv('Train_Beneficiarydata-1542865627584.csv')
train_inpatient = pd.read_csv('Train_Inpatientdata-1542865627584.csv')
train_outpatient = pd.read_csv('Train_Outpatientdata-1542865627584.csv')

# Test files
test = pd.read_csv('Test-1542969243754.csv')
test_beneficiary = pd.read_csv('Test_Beneficiarydata-1542969243754.csv')
test_inpatient = pd.read_csv('Test_Inpatientdata-1542969243754.csv')
test_outpatient = pd.read_csv('Test_Outpatientdata-1542969243754.csv')

In [14]:
# Look at the top rows of each dataset
print("Train:")
display(train.head())

print("Beneficiary:")
display(train_beneficiary.head())

print("Inpatient:")
display(train_inpatient.head())

print("Outpatient:")
display(train_outpatient.head())

Train:

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

Beneficiary:

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

Inpatient:

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

Outpatient:

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [15]:
# Check the class distribution of the target
train['PotentialFraud'].value_counts(normalize=True)

PotentialFraud
No     0.90647
Yes    0.09353
Name: proportion, dtype: float64

In [16]:
# Merge inpatient + outpatient + train on Provider
all_claims = pd.concat([train_inpatient, train_outpatient])
merged = pd.merge(all_claims, train, on='Provider', how='left')

# Group by Provider: Total reimbursement
reimb_by_provider = merged.groupby('Provider')['InscClaimAmtReimbursed'].sum().reset_index()
reimb_by_provider.columns = ['Provider', 'TotalReimbursement']

# Look at top reimbursed providers
reimb_by_provider.sort_values('TotalReimbursement', ascending=False).head(10)

      Provider  TotalReimbursement
818   PRV52019             5996050
3557  PRV55462             4713830
4446  PRV56560             3212000
2705  PRV54367             3133880
3000  PRV54742             2969530
3358  PRV55209             2914700
2176  PRV53706             2831940
4334  PRV56416             2744870
3373  PRV55230             2612740
1071  PRV52340             2540130

In [17]:
# Count claims per provider
inpatient_claims = train_inpatient['Provider'].value_counts().reset_index()
inpatient_claims.columns = ['Provider', 'InpatientClaimCount']

outpatient_claims = train_outpatient['Provider'].value_counts().reset_index()
outpatient_claims.columns = ['Provider', 'OutpatientClaimCount']

# Merge both counts
claim_counts = pd.merge(inpatient_claims, outpatient_claims, on='Provider', how='outer').fillna(0)
claim_counts['TotalClaims'] = claim_counts['InpatientClaimCount'] + claim_counts['OutpatientClaimCount']

# Show top providers by claim volume
top_claims = claim_counts.sort_values(by='TotalClaims', ascending=False).head(10)
top_claims

      Provider  InpatientClaimCount  OutpatientClaimCount  TotalClaims
363   PRV51459                  0.0                8240.0       8240.0
2250  PRV53797                  0.0                4739.0       4739.0
455   PRV51574                  0.0                4444.0       4444.0
2335  PRV53918                  0.0                3588.0       3588.0
3113  PRV54895                  3.0                3433.0       3436.0
3363  PRV55215                143.0                3250.0       3393.0
853   PRV52064                 38.0                2806.0       2844.0
4004  PRV56011                  0.0                2833.0       2833.0
3195  PRV55004                  3.0                2396.0       2399.0
5032  PRV57306                  0.0                2315.0       2315.0

In [18]:
# Ensure chronic condition columns are numeric
for col in chronic_cols:
    claims_with_fraud_label[col] = pd.to_numeric(claims_with_fraud_label[col], errors='coerce')

# Calculate average chronic conditions per provider
provider_chronic_avg = claims_with_fraud_label.groupby('Provider')[chronic_cols].mean()

# Add fraud label for each provider
provider_labels = claims_with_fraud_label[['Provider', 'PotentialFraud']].drop_duplicates()
provider_chronic_avg = provider_chronic_avg.merge(provider_labels, on='Provider')

# Show average chronic conditions grouped by fraud status
provider_chronic_avg.groupby('PotentialFraud')[chronic_cols].mean().T

NameError: name 'chronic_cols' is not defined

In [19]:
import sys
!{sys.executable} -m pip install matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [20]:
# Recalculate and assign the chronic condition averages to a variable
chronic_means = provider_chronic_avg.groupby('PotentialFraud')[chronic_cols].mean()

# Plotting
import matplotlib.pyplot as plt

# Transpose for plotting
plot_data = chronic_means.T

# Plot
ax = plot_data.plot(kind='bar', figsize=(12, 6))
plt.title('Average Chronic Conditions by Fraud Status')
plt.xlabel('Chronic Condition')
plt.ylabel('Average (1 = Yes, 2 = No)')
plt.xticks(rotation=45, ha='right')
plt.legend(title='PotentialFraud')
plt.tight_layout()
plt.show()

NameError: name 'provider_chronic_avg' is not defined